<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">

    <br>
    <title>{% block title %}Home Page{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />


    <style>
        body {
            background: url('{% static "images/bg.jpg" %}') no-repeat center center fixed;
            background-size: cover;
        }
    </style>

</head>

<body>
    <h1>{% block header %}{% endblock %}</h1>
    <hr> {% include 'link.html' %}


    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}

</body>

</html>