{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<br>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body" style="background-color: lightyellow;">

                    
                        <br>
                        <h1> PRODUCTS </h1>

                        <hr>
                        <hr>

                        <section class="section">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-10">
                                        <div class="card">
                                            <div class="card-body" style="background-color: lightyellow;">
                        
                                                
                                                <table>

                                                    <h2> <b>BLUEBERRY-CREAM CHEESE PASTRIES</b></h2>
                                                   
                                                    <br> 
                                                    <tr>
                                                        <td><h2>
                                                            <img class="rounded-circle account-img" src={% static "images/blueberry.jpg" %} alt="" width="400" height="300">
                                                        
                                                        </h2></td>
                                                    </tr>
                                                    
                                                    <tr>

                                                        <td> 
                                                            <h3> <br>Blueberry Cream Cheese Pastries! Flaky pastry, tangy cream cheese filling and juicy berries are the ultimate breakfast trifecta.

                                                                <br> <br> Ingredients: cream cheese, sugar, lemon juice, lemon zest, vanilla extracts, fresh blueberries, eggs,  frozen puff pastry
                                                                
                                                                <br> <br> PRICE: 450 Php per box (6 pcs)

                                                                <br> <br> Availability: HIGH IN STOCKS

                                                            </h3> 
                                                        </td> 

                                                    </tr>
                                                </table>

                                                <hr>
                                                <hr>
                                                <h5></h5>

                                                <table>

                                                    <h2> <b>MASHED POTATO CINNAMON ROLLS</b></h2>
                                                   
                                                    <br> 
                                                    <tr>
                                                        <td><h2>
                                                            <img class="rounded-circle account-img" src={% static "images/cinnamon.jpeg" %} alt="" width="400" height="300">
                                                        
                                                        </h2></td>
                                                    </tr>
                                                    
                                                    <tr>

                                                        <td> 
                                                            <h3> <br>Mashed potatoes are the secret ingredient to making these absolutely super fluffy and airy Mashed Potato Cinnamon Rolls with the perfect flavor and texture!

                                                                <br> <br> Ingredients: hot milk, finely mashed potatoes, saly, active dry yeast, warm water, eggs, flour, butter, sugar
                                                                
                                                                <br> <br> PRICE: 400 Php per box (6 pcs)

                                                                <br> <br> Availability: LOW IN STOCKS
                                                            </h3> 
                                                        </td> 

                                                    </tr>
                                                </table>

                                                <hr>
                                                <hr>
                                                <h5></h5>

                                                <table>

                                                    <h2> <b>APPLE-CHEESE DANISH BARS</b></h2>
                                                   
                                                    <br> 
                                                    <tr>
                                                        <td><h2>
                                                            <img class="rounded-circle account-img" src={% static "images/danish.jpg" %} alt="" width="400" height="300">
                                                        
                                                        </h2></td>
                                                    </tr>
                                                    
                                                    <tr>

                                                        <td> 
                                                            <h3><br> Sweetened cream cheese and apple pie filling layered between two sheets of crescent dough create a luscious treat that your family is sure to love!

                                                                <br> <br> Ingredients: crescent rolls, apple pie fillings, cream cheese, powdered sugar, butter, vanilla, cinnamon sugar
                                                                
                                                                <br> <br> PRICE: 550 Php per box (6 pcs)

                                                                <br> <br> Availability: HIGH IN STOCKS

                                                            </h3>  
                                                        </td> 

                                                    </tr>
                                                </table>

                                                <hr>
                                                <hr>
                                                <h5></h5>
                                                
                                                <table>

                                                    <h2> <b>ALMOND AND VANILLA BEAN SCONES</b></h2>
                                                   
                                                    <br> 
                                                    <tr>
                                                        <td><h2>
                                                            <img class="rounded-circle account-img" src={% static "images/scones.png" %} alt="" width="400" height="300">
                                                        
                                                        </h2></td>
                                                    </tr>
                                                    
                                                    <tr>

                                                        <td> 
                                                            <h3><br>  Pair these flaky, tender scones with homemade lemon curd, jam, or honey.     

                                                                <br> <br> Ingredients: all purpose cream, sugar, baking powder, salt, butter, eggs, heavy cream, sour cream, vanilla bean paste, almond extracts, sliced almonds, coarse sugar, curd sugar
                                                                
                                                                <br> <br> PRICE: 500 Php per box (6 pcs)

                                                                <br> <br> Availability: OUT OF STOCK

                                                            </h3>  
                                                        </td> 

                                                    </tr>
                                                </table>

                                                <hr>
                                                <hr>
                                                <h5></h5>

                                                <table>

                                                    <h2> <b>CREAM CHEESE DANISHES</b></h2>
                                                   
                                                    <br> 
                                                    <tr>
                                                        <td><h2>
                                                            <img class="rounded-circle account-img" src={% static "images/cheese.jpg" %} alt="" width="400" height="300">
                                                        </h2></td>
                                                    </tr>
                                                    
                                                    <tr>

                                                        <td> 
                                                            <h3> <br> Top this classic cheese filling here with a few raspberries, blueberries or even a dollop of your favorite jam.     

                                                                <br> <br> Ingredients: cream cheese, confectioners' sugar, egg yolk, salt, vanilla extract, Danish dough, milk
                                                                
                                                                <br> <br> PRICE: 450 Php per box (6 pcs)

                                                                <br> <br> Availability: LOW IN STOCKS

                                                            </h3>  
                                                        </td> 

                                                    </tr>
                                                </table>

                                                <hr>
                                                <hr>
                                                <h5></h5>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}